.main{
    background-color: none;
    margin-top: 5vh;
}

.container-chat{
    margin-top: 3vh;
}

.searchchat{
    margin-bottom: 3vh;
}

.listchat{
    text-align: left;
}

.listchat-container{
    height: 73vh;
}

.bodychat{
    height: 67.5vh;
    overflow-y: scroll;
}

.bodychat-header{
    height: 85px;
}

.bodychat-header-info{
    padding-left: 5vh;
}

.chat-myself{
    margin-bottom: 15px;
    width: 80%;
    float: right;
}

.chat-myself-body{
    background-color: #CBEEF3;
}

.chat-somebody{
    margin-bottom: 15px;
    width: 80%;
    float: left;
}


